body,
html {
  padding: 0;
  margin: 0;
}
.full {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.h1 {
  font-size: 2em;
}
